<div>
    <div class="row" style="width: 800px; padding-bottom: 20px; margin-left: 0px; margin-right: 0px;">
        <div class="col-5" style="padding-left: 0px;"><input class="form-control" type="text" placeholder="Username" [(ngModel)]="participantUsername" /></div>
        <div class="col-5" style="padding-left: 0px;"><input class="form-control" type="text" placeholder="Email" [(ngModel)]="participantEmail" /></div>
        <button class="btn btn-success col-2" (click)="joinMeeting()">Join</button>
    </div>
    
</div>
<div>
    <iframe style="width: 800px; height: 450px;" [src]="meetingUrl" id="meeting-iframe"></iframe>
</div>

